/*
	Website: 		aMaK Stats Inc | NHL Hockey Stats, Schedule | Fantasy Hockey Resource
	URL:	 		http://www.amakstats.com
	Developer: 		Aaron Makish
	Date Created: 	20120828
	Last Revised: 	20120828
	Language:		HTML5

	Website Description:
					NHL Hockey Stats, Schedule | Fantasy Hockey Resource
		
	External files:
					index.php
					sktrstatsvmain.php
					sktrstatsvadditional.php
					
*/

/* CSS RESET
------------------------------------------------ */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	
/* Prevent mobile zooming while remain desktop zooming.
	github.com/shichuan/mobile-html5-boilerplate/issues/closed#issue/14
	*/
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL
---------------------------------------------- */
h1 {
	float: left;
	font-family: Georgia, Times, 'Times New Roman', serif;
}
/* CONTAINERS
---------------------------------------------- */
#page {
    background: #EDEDED;
}

.container {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
}

#header{
	background-color: #F5F5F5;
	border-top: 1px solid #DADADA;
	border-bottom: 1px solid #DADADA;
	padding-bottom: 0.5em;

}

#footer {
	background-color: #F5F5F5;
	border-top: 1px solid #DADADA;
	border-bottom: 1px solid #DADADA;
	margin-top: 2em;
}

	#copy {
		font: .9em Verdanna, sans-serif;
		color: #666;
	}
		
		#copy p+p {
			padding: 0 0 1em 1.5em;
		}

/* HEADER
---------------------------------------------- */
header nav {
		float: right;
	}
	
		header nav ul li {
			float: left;
		}
		
			header nav ul li a {
				margin-top: 72px;
				margin-left: 50px;
				color: #666;
				display: block;
				font-size: 112.5%;
				text-decoration: none;
			}
			
			header nav ul li a:hover, header nav ul li a:focus {
					border-bottom: 3px solid #00A4E7;
					color: #000;
					background-color: #F5F5F5;
					opacity: .5;
				}
/* MAIN CONTENT
---------------------------------------------- */
#pageBackground {
	background-color: #FFF;
	padding-bottom: 0.5em;
	border-radius: 15px;
	margin-top: 1em;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
}
	
	#pageBody {
		width: 940px;
		padding-bottom: 1em;
		border: 1px solid #CACACA;
		margin-top: 0.5em;		
		background-color: #F7F7F7;
		border-radius: 10px;
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
	}
	
		table {
			width: 920px;
			margin: 30px auto 0;
			border: 1px solid #DADADA;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
		}

		table .left {
			text-align: left;
		}
			
			#statsFormTable caption {
				font-size: 1.75em;
				font-weight: bold;
				color: #525253;
				text-align: left;
			}
			
				#statsFormTable th {
					padding-left: 7px;
					text-align: left;
				}
				
				#statsFormTable td {
					padding-left: 5px;
					text-align: left;
				}
				
			table caption {
				margin-bottom: .5em;
				font-size: 1.5 em;
				font-weight: bold;
				color: #525253;
				text-align: left;
			}
		
			th {
				background-color: #00A4E7;
			    color:#FFF;
			    font-weight: bold;
			    cursor: default;
			}
				
				tr:nth-child(even) {
					background: #FFF;
				}
				
				tr:nth-child(odd) {
					background: #F4F4F4;
				}
		
					table th, td {
						padding: 3px;
						text-align: center;
						font-size: .75em;
					}
			
				
			

/* FOOTER
---------------------------------------------- */
