/*
	Website: 		aMaK Stats Inc | NHL Hockey Stats, Schedule | Fantasy Hockey Resource
	URL:	 		http://www.amakstats.com
	Developer: 		Aaron Makish
	Date Created: 	20120828
	Last Revised: 	20120923
	Language:		HTML5

	Website Description:
					NHL Hockey Stats, Schedule | Fantasy Hockey Resource
		
	External files:
					index.php
					
*/

/* =CSSResetDefauts (based on Eric Meyer's)
---------------------------------------------- */
html,body,div,header,footer,nav,article,section,figure,aside,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;font-style:inherit;font-weight:inherit;vertical-align:baseline;background:transparent;}
body{line-height:1;}
header,footer,nav,article,aside,section,figure,figcaption{display:block;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
/* / CSSResetDefauts
---------------------------------------------- */

/* =Global Typography
---------------------------------------------- */
body {
	font: 87.5%/1.25 'Trebuchet MS', Verdana, sans-serif;
}
a, a:hover, a:focus, li:focus a, a:focus b, button:focus {
	text-decoration: none;
}
nav {
	font-size: 1.1em;
	line-height: 1;         
}
button:focus {
	outline: 0;
}
h1, h2, h3, h4, h5, h6, dt {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-weight: bold;
}
h1 {
	font-size: 3em;
	line-height: 1;
	text-align: center;
}
img {
	display: block;
	max-width: 100%;
}
table {
	line-height: 1.5;
	width: 100%;
}
caption {
	font-size: 1.25em;
}
th, tfoot {
	font-weight: bold;
}
caption, th {
	text-align: left;
}
tbody th {
	font-weight: normal;
}
th, td {
	vertical-align: top;
	padding: 1px 5px;
}

/* =Global Layout
---------------------------------------------- */
#page {
	width: 100%;
	margin: 0 auto;
}	

/* =Base Layout
---------------------------------------------- */
@media screen {
	/* header
	---------------------------------------------- */
	header {
		width: 100%;
		height: 100px;
		border-top: 1px solid #DADADA;
		border-bottom: 1px solid #DADADA;
	}
	#top h1 {
		display: inline-bloack;
	    width: 13.13715186547556%; /* 250 / 1903 */
		height: 100px;
	   	float: left;
	   	margin-left: 20%;

	}
	nav {
		width: 22.07041513399895%;
		margin-left: 57.96111403047819%;
	}
	ul {
		display: inline-block;
		height: 100px;
		
		
	}
	nav ul li {
		float: left;
		padding-left: 3em;
	}
	/* content
	---------------------------------------------- */
	#content {
		
		width: 100%;	/* 1237px */
		margin: 0 auto;
		padding-bottom: 0.5em;
	}
	table {
		width: 52.54860746190226%; /* 1000 / 1 */
		margin: 0 auto;
		border: 1px solid #DADADA;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
	}
	.leftalign {
		text-align: left;
	}
	caption {
		padding: 15px 0 3px 0;
	}
	.captionPrimary {
		padding-top: 20px;
	}
	th {
		padding: 4px 2px;
		background-color: #393F46;
	    color:#FFF;
	    font-size: 0.875em;
	    font-weight: bold;
	    text-align: center;
	    cursor: default;
	}
	td {
		padding: 2px 0;
		border: 1px solid #FFF;
		color: #000;
		font-size: 0.75em;
		text-align: center;
	}

	tr:nth-child(even) {
		background-color: #FFF;
	}
	
	tr:nth-child(odd) {
		background-color: #F4F4F4;
	}
	/* footer
	---------------------------------------------- */			
	footer {
		border-top: 1px solid #DADADA;
		border-bottom: 1px solid #DADADA;
	}
}

/* =Global Color
---------------------------------------------- */
	header, footer {
		background: #F5F5F5;
	}
	nav a {
	    color: #00A4E7;
	}
	nav a:hover {
	    color: #393F46;
	}
	#content {
		background: #EDEDED;
	}
	caption {
		color: #525253;
	}
	th {
		background: #393F46;
	    color:#FFF;
	}
	td {
		color: #000;
		font-size: 0.75em;
	}

	tr:nth-child(even) {
		background: #FFF;
	}
	
	tr:nth-child(odd) {
		background: #F4F4F4;
	}