<!DOCTYPE html>
<!--
	Website: 		Aaron Makish | Web Developer Portfolio
	URL:	 		http://www.aaronmakish.com
	Developer: 		Aaron Makish
	Date Created: 	20120510
	Last Revised: 	20120530
	Language:		HTML5

	Website Description:
					Web Developer porfolio website for Aaron Makish
		
	External files:
					main.css
					jquery.lightbox-0.5.css
					main.js
					jquery.js
					jquery.lightbox-0.5.js
-->
<!--[if lt IE 7 ]> <html lang="en-us" class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html lang="en-us" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en-us" class="ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<title>Aaron Makish | Web Developer</title>
	<meta content="true" name="HandheldFriendly">
	<meta content="320" name="MobileOptimized">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta name="author" content="Aaron Makish"/>
	<meta name="description" content="Welcome to the online home of Aaron Makish, a Stratford, Ontario based web developer and designer" />
	<meta name="keywords" content="web webpage developer development design designer programmer Stratford Ontario Canada" />
	<!-- CSS link -->
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="stylesheet" href="../css/jquery.lightbox-0.5.css" />
	<!-- Favicon links 
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="apple-touch-icon" href="apple-touch-icon.png" />
	-->
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="page">
		<!-- ==== START HEADER ==== -->
		<header id="header" role="banner">
			<div class="container">	
				<h1>
					<a href="#"><img src="../images/logo.png" alt="Aaron Makish" title="" width="350" height="160" /></a>
				</h1>
				<nav role="navigation">
					<ul class="nav">
						<li><a href="./">Home</a></li>
						<li><a href="./?p=contact">Contact</a></li>
					</ul>
				</nav>
			</div> <!-- end .container -->
		</header>
		<!-- end #header -->
		<!-- ==== START MAIN CONTENT ==== -->
		<div id="main" role="main" >	
			<div id="headline">
				<div class="container">
					<p>creating moblie-friendly web sites</p>
					<p>and applications</p>
				</div>
				<!-- end .container -->
			</div>
			<!-- end #headline -->
			<div class="container">
				<ul>
					<li class="portfolio">
						<article>
							<header>
								<h2>database design</h2>
								<p>MySQL SQL Server</p>
							</header>
							<figure class="dbd">
								<a href="../images/960x520-03dbd-mysql-01.png" title="MySQL Sample Code 1"><img src="../images/750x375-03dbd-mysql-01.png" width="750" height="375" alt="MySQL Sample Code #1" title="" /></a>
								<a href="../images/960x520-03dbd-mysql-02.png" title="MySQL Sample Code 2"></a>
								<a href="../images/960x520-03dbd-mysql-03.png" title="MySQL Sample Code 3"></a>
								<a href="../images/960x520-03dbd-mysql-04.png" title="MySQL Sample Code 4"></a>
								<a href="../images/960x520-03dbd-sqlsvr-01.png" title="SQL Server Sample Code 1"></a>
								<a href="../images/960x520-03dbd-sqlsvr-02.png" title="SQL Server Sample Code 2"></a>
							</figure>
						</article>
					</li>
					<li class="portfolio">
						<article>
							<header>
								<h2>client side development</h2>
								<p>HTML5, CSS3, JavaScript, ActionScript</p>
							</header>
							<figure class="csd">
								<a href="../images/960x520-01csd-html-01.png" title="HTML5 Sample Code 1"><img src="../images/750x375-01csd-html-01.png" width="750" height="375" alt="HTML5 Sample Code #1" title="" /></a>
								<a href="../images/960x520-01csd-html-02.png" title="HTML5 Sample Code 2"></a>
								<a href="../images/960x520-01csd-html-03.png" title="HTML5 Sample Code 3"></a>
								<a href="../images/960x520-01csd-html-04.png" title="HTML5 Sample Code 4"></a>
								<a href="../images/960x520-01csd-css-01.png" title="CSS3 Sample Code 1"></a>
								<a href="../images/960x520-01csd-css-02.png" title="CSS3 Sample Code 2"></a>
								<a href="../images/960x520-01csd-css-03.png" title="CSS3 Sample Code 3"></a>
								<a href="../images/960x520-01csd-js-01.png" title="JavaScript Sample Code 1"></a>
								<a href="../images/960x520-01csd-js-02.png" title="JavaScript Sample Code 2"></a>
								<a href="../images/960x520-01csd-js-03.png" title="JavaScript Sample Code 3"></a>
								<a href="../images/960x520-01csd-as-01.png" title="ActionScript Sample Code 1"></a>
								<a href="../images/960x520-01csd-as-02.png" title="ActionScript Sample Code 2"></a>
								<a href="../images/960x520-01csd-as-03.png" title="ActionScript Sample Code 3"></a>
								<a href="../images/960x520-01csd-as-04.png" title="ActionScript Sample Code 4"></a>
								<a href="../images/960x520-01csd-as-05.png" title="ActionScript Sample Code 5"></a>
							</figure>
						</article>
					</li>
					<li class="portfolio">
						<article>
							<header>
								<h2>server side development</h2>
								<p>PHP, ASP.NET</p>
							</header>
							<figure class="ssd">
								<a href="../images/960x520-02ssd-php-01.png" title="PHP Sample Code 1"><img src="../images/750x375-02ssd-php-01.png" width="750" height="375" alt="PHP Sample Code #1" title="" /></a>
								<a href="../images/960x520-02ssd-php-02.png" title="PHP Sample Code 2"></a>
								<a href="../images/960x520-02ssd-asp-01.png" title="ASP.NET Sample Code 1"></a>
								<a href="../images/960x520-02ssd-asp-02.png" title="ASP.NET Sample Code 2"></a>
							</figure>
						</article>
					</li>
					<li class="portfolio">
						<article>
							<header>
								<h2>programming</h2>
								<p>C#.NET, Java</p>
							</header>
							<figure class="pro">
								<a href="../images/960x520-04pro-csharp-01.png" title="C&#35; Sample Code 1"><img src="../images/750x375-04pro-csharp-01.png" width="750" height="375" alt="C&#35; Sample Code #1" title="" /></a>
								<a href="../images/960x520-04pro-csharp-02.png" title="C&#35; Sample Code 2"></a>
								<a href="../images/960x520-04pro-csharp-03.png" title="C&#35; Sample Code 3"></a>
								<a href="../images/960x520-04pro-csharp-04.png" title="C&#35; Sample Code 4"></a>
								<a href="../images/960x520-04pro-java-01.png" title="Java Sample Code 1"></a>
								<a href="../images/960x520-04pro-java-02.png" title="Java Sample Code 2"></a>
							</figure>
						</article>
					</li>				
				</ul>
			</div>
			<!-- end .container -->
		</div>
		<!-- end MAIN CONTENT -->
		<!-- ==== START FOOTER ==== -->
		<footer id="footer" role="contentinfo">
			<div class="container">
				<div id="social">
					<h3>follow me at</h3>
					<ul>
						<li><a class="linkedin" href="http://ca.linkedin.com/in/aaronmakish">LinkedIn</a></li>
						<li><a class="twitter" href="https://twitter.com/#!/aaronMakish">Twitter</a></li>
					</ul>
				</div>
				<!-- end #social -->
				<div id="copy">
					<p><a href="#"><img src="../images/logo-white.png" alt="Aaron Makish" title="" width="101" height="35" /></a></p>
					<p>&copy; 2012</p>
				</div>
				<!-- end #copy -->
			</div>
			<!-- end .container -->
		</footer>
		<!-- end #footer -->
	</div>
	<!-- #page -->
	
	<!-- JavaScript link -->
	<script src="../js/main.js"></script>
	<script src="../js/jquery.js"></script>
	<script src="../js/jquery.lightbox-0.5.js"></script>
	<script>
		var $jq = jQuery.noConflict();
		$jq(function() {
			$jq('figure.csd a').lightBox();
			$jq('figure.ssd a').lightBox();
			$jq('figure.dbd a').lightBox();
			$jq('figure.pro a').lightBox();
		});
	</script>
</body>
</html>

