/*
 | ~ CSS Reset ~
 |---------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}          
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
a:hover {
    text-decoration: underline;
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
:focus {
    outline: none
}
/*
 | / ~ CSS Reset ~
 |---------------------------------------------------------------*/
/*
 | ~ Typography ~
 |---------------------------------------------------------------*/
body {
	font-size: 100%; 	
    font-family: Helvetica, Arial, serif;
}
h1 img{
	max-width: 100%;
}
nav  {
	text-transform: uppercase;
}

h1 {
	font-size: 1.5em;   /* 24px / 16px */
    line-height: 1.166666666666667em; /* 28px / 24px */
    font-weight: bold;
}
form h1 {
	font-size: 1em;   /* 18px / 12px */
    line-height: 1.333333333333333em;  /* 24px / 18px */
    font-weight: bold;
    text-align: left;
}
form p {
	font-size: 1em;   /* 16px / 16px */
	line-height: 1.25em; /* 20px / 16px */
	text-align: left;
}
form label, form select {
	font-size: 0.875em;   /* 14px / 16px */
	line-height: 1.142857142857143em; /* 16px / 14px */
}
input[type="submit"] {
	font-size: 1em;   /* 16px / 16px */
	line-height: 1.25em; /* 20px / 16px */
	text-align: center;
	
}
table {
    font-size: 0.6875em; 	/* 11px/16px */
    line-height: 1.454545454545455em; /* 16px/11px */
}
th input[type="submit"] {
	font-size: 1.090909090909091	em; /* 12px/11px */
}

th, td {
	text-align: center;
}

a:hover {
    text-decoration: underline
}
a {
	color: #00A4E7;
    text-decoration: none;
}
/*
 | ~ Base Styles ~
 |---------------------------------------------------------------*/
body {
    background: #FFF;
    color: #333;
}
#page {
	width: 100%;
	background: #EDEDED;
}
section {
	margin: 0 auto;
}
p,
ul,
ol {
    margin-bottom: 0.5em; /* 8px / 16px */
}
img {
	display: block;
}
header,footer {
	background: #F5F5F5;
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5); /* FF3.5 - 3.6 */
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}
#container {
    overflow: hidden;
    width: 100%;
}
article h1, form h1 {
	width: 100%;
	border-top: 1px solid #CCC;
	margin: 0.5em 0 0.25em;
	padding: 0.5em 0 0.25em 0.25em;
	color: #525253;
	background-color: #F5F5F5;
	box-shadow: 0 3px 0 #CCC, 0 -1px #FFFFFF inset;
}
form {
	width: 100%;
}
#formwrap {
	padding: 0.5254860746190226%; /* 10px/1903px */
}
form p {
	
}
form label {
	display: inline-block;
	width: 6.25em; /* 90px/16px */
	padding-bottom: 0.125em; /* 2px/16px */
	box-shadow: 0 3px 0 #CCC, 0 -1px #FFFFFF inset;
}
form select {
	display: inline-block;
	width: 11.5625em; /* 185px/16px */
    margin: 0;
    padding: 0.125em;
    -moz-appearance: none;
    background: none repeat scroll 0 0 #F5F5F5;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 3px 0 #CCC, 0 -1px #FFFFFF inset;
    color: #888888;
    cursor: pointer;
	outline: medium none;
}
table {
	margin: 0.2627430373095113%; /* 5px/1903px */
}
thead {
	margin-top: 4em;
	background-color: #393F46;
	color: #FFF;	
}
th, td {
	padding: 0 0.375em;
}
tr:nth-child(even) {
	background-color: #F4F4F4;
}
input[type="submit"] {
	margin: 0.5em 0 0 0;
	-moz-appearance: none;
    background: none repeat scroll 0 0 #00A4E7;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 3px 0 #CCC, 0 -1px #FFFFFF inset;
	color: #FFF;
}
thead {
	background: none repeat scroll 0 0 #393F46;
	box-shadow: 0 3px 0 #CCC, 0 -1px #FFFFFF inset;
}
th input[type="submit"] { 
	border-radius: 0;
	padding: 0;
	background: none repeat scroll 0 0 #393F46;
}
.inner {
    margin: auto;
    overflow: hidden;
    width: 97.89805570152391%;  /* 100% - 40px/1903px */
}
.name {
	width: 14.36363636363636em; /* 158px/11px */
	text-align: left;
}
.left {
	text-align: left;
}
#pagination {
	height: 2.5em;
	margin-left: 0.5em;
}

.pagination {
	float: left;
}
.pagination p {
		
}

/*
 | ~ Nav Primary ~
 |---------------------------------------------------------------*/
#nav-collapse{
	display: none;
	color: #FFF;
	text-align: right;
	width: 100%;
	padding: .625em 0 .625em 0;
}
#nav-collapse.active{
	display: block;
}
nav[role="navigation"] {
    background-color: #393F46;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#393F46), to(#293F46));
    background-image: -webkit-linear-gradient(top, #393F46, #293F46);
    background-image: -moz-linear-gradient(top, #393F46, #293F46);
    background-image: -ms-linear-gradient(top, #393F46, #293F46);
    background-image: -o-linear-gradient(top, #393F46, #293F46);
    background-image: linear-gradient(to bottom, #393F46, #293F46);
    overflow: hidden;
    width: 100%;
}
nav[role="navigation"] ul {
	margin-bottom: 0;
}

nav[role="navigation"] ul.hide {
	display: none;
}
	nav[role="navigation"] li.active a {
		color: #FFF;
		font-weight: bold;
	}
	
	nav[role="navigation"] li a:active {
		color: #FFF;
	}
	
	nav[role="navigation"] li a:hover,nav[role="navigation"] li a:focus {
		color: #FFF;
	}
	
	nav[role="navigation"] ul {
		margin: 0;
	}
	
	nav[role="navigation"] li {
		padding: .625em 2em .625em 0;
		border-top: 1px solid #333;
	}
	
	nav[role="navigation"] a {
		color: #DDD;
		display: block;
		text-decoration: none;
	}
/*
/*
 | ~ Nav Secondary ~
 |---------------------------------------------------------------*/
footer[role="contentinfo"] h1, p  {
	margin-left: .5em; /* 20px / 40px */
	margin-right: .5em;/* 20px / 40px */
	text-align: center
}
footer[role="contentinfo"] ul {
	margin-bottom: 0
}

/*
 | ~ Media Queries ~
 |---------------------------------------------------------------*/
/* ~ 400px ~ |25em = 400px/16px| */
@media all and (min-width: 25em) {
	.cbp1  {
		display: table-cell;
	}
}
/* ~ 600px ~ |37.5em = 600px/16px| */
@media all and (min-width: 37.5em) {
	nav[role="navigation"] li {
	    float: left;
		border-top: 0;
	}
	nav[role="navigation"] a {
		float: left;
	}
	footer[role="contentinfo"] .top {
		float: right;
	}
	.cbp2  {
		display: table-cell;
	}
	
#schedTable th, #schedTable td {
	text-align: left;
}
	
	
	
	
	
}
